apiVersion: v1
kind: Namespace
metadata:
  name: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: m1-functional-source-local
  labels:
    app.kubernetes.io/name: kama-m1-functional
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
volumeBindingMode: Immediate
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: m1-functional-full-local
  labels:
    app.kubernetes.io/name: kama-m1-functional
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
volumeBindingMode: Immediate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: m1-functional-source
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  capacity:
    storage: 16Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: m1-functional-source-local
  local:
    path: /var/local/kama-m1-functional-source
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - M1_WORKER_NODE
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: m1-functional-full
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  capacity:
    storage: 8Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: m1-functional-full-local
  local:
    path: /var/local/kama-m1-functional-full
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - M1_WORKER_NODE
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: m1-functional-source
  namespace: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  storageClassName: m1-functional-source-local
  resources:
    requests:
      storage: 16Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: m1-functional-full
  namespace: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  storageClassName: m1-functional-full-local
  resources:
    requests:
      storage: 8Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: m1-functional-rwx
  namespace: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  storageClassName: M1_RWX_STORAGE_CLASS
  resources:
    requests:
      storage: 32Mi
---
apiVersion: kama.tannerburns.github.io/v1alpha1
kind: ModelCache
metadata:
  name: m1-functional-rwx
  namespace: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  retentionPolicy: Retain
  storage:
    existingClaim:
      name: m1-functional-rwx
---
apiVersion: kama.tannerburns.github.io/v1alpha1
kind: ModelCache
metadata:
  name: m1-functional-full
  namespace: M1_NAMESPACE
  labels:
    app.kubernetes.io/name: kama-m1-functional
spec:
  retentionPolicy: Retain
  storage:
    existingClaim:
      name: m1-functional-full
