apiVersion: kama.tannerburns.github.io/v1alpha1
kind: ModelCache
metadata:
  name: e2e-serving-nvidia-cache
  labels:
    kama.tannerburns.github.io/e2e-run: E2E_NVIDIA_RUN_ID
spec:
  retentionPolicy: Retain
  storage:
    existingClaim:
      name: E2E_NVIDIA_EXISTING_CACHE_CLAIM
